.v-field--variant-yellow {
    background: yellow;
}

.v-field--variant-green {
    background: green;
}

.basic {
    background: gray;
}

.v-card--main {
    height: 600px;
}

.v-card--action {
    margin-bottom: 16px;
}