@forward 'vuetify/settings' with (
    $color-pack: false,
);

.v-card--variant-main {
    height: 600px;
}

.v-card--variant-action {
    margin-bottom: 8px;
}

.v-row--main {
    max-width: 1200px;
}