@font-face {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/public/fonts/OpenSans-Light.ttf') format("truetype");
}

@font-face {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/public/fonts/OpenSans-Medium.ttf') format("truetype");
}

@font-face {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/public/fonts/OpenSans-Bold.ttf') format("truetype");
}

.mainContant {
    max-width: 990px;
}