@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}