@use 'vuetify/settings' with (
  $list-nav-padding: 8px,
  $list-background: rgba(var(--v-theme-surface)),
);

@import "vuetify/settings";
@import "vuetify/styles";
@import "vuetify/tools";

@font-face {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/public/fonts/OpenSans-Light.ttf') format("truetype");
}

@font-face {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/public/fonts/OpenSans-Medium.ttf') format("truetype");
}

@font-face {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/public/fonts/OpenSans-Bold.ttf') format("truetype");
}

.v-card--main-sub {
    margin-bottom: $list-nav-padding;
}