@use 'vuetify/settings' with (
  $list-nav-padding: 8px,
  $list-background: rgba(var(--v-theme-surface)),
);

@import "vuetify/settings";
@import "vuetify/styles";
@import "vuetify/tools";

$list-padding: 8px;

.v-row--main {
    max-width: 1200px;
}

.v-col--main-sub {
    padding-left: 0 !important;
}

.v-card--main {
    height: 600px;
}

.v-card--main-sub {
    margin-bottom: $list-padding;
}